* {
	box-sizing: border-box;
}
body {
	background: #000;
	font-family: 'Courier Prime', monospace;
}

/* ////////// fade-in text ////////// */
.header {
	width: 100vw;
	height: 300px;
	display: flex;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin-left: 1%;
}
h3 {
	display: inline-block;
	font-size: 50px;
	font-weight: 100;
	color: #fff;
	text-transform: none;
	margin: 0 20px;
}
h3,
.instructions {
	/* opacity: 100; */
	opacity: 0;
	animation: fadeIn ease 5s;
	-webkit-animation: fadeIn ease 5s;
	-moz-animation: fadeIn ease 5s;
	-o-animation: fadeIn ease 5s;
}
.instructions {
	height: 50px;
	width: 60px;
	color: rgba(255, 255, 0, 0.7);
	font-size: 25px;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
	border-bottom: 1px red double;
	padding-top: 50px;
	padding-bottom: 100px;
	padding-right: 55px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/*?////////// navbar and toggle////////// */
.nav {
	color: rgba(255, 255, 255, 0.5);
	background-color: #000;
	font-size: 32px;
	font-weight: 100;
	height: 100vh;
	right: -480px;
	padding: 32px;
	position: fixed;
	top: 0;
	width: 400px;
	z-index: 3;
	transition: right 0.5s ease;
	margin-top: 5%;
}
h1 {
	font-weight: 100;
	margin: 0;
	padding-bottom: 25px;
	margin-right: 40px;
	border-bottom: 1px red double;
	color: rgba(255, 255, 0, 0.7);
}
p {
	font-size: 25px;
}

.nav.expanded {
	right: 0;
}
.nav-toggle {
	cursor: pointer;
	height: 32px;
	right: 32px;
	position: fixed;
	top: 32px;
	width: 57.6px;
	z-index: 5;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
	position: absolute;
	top: 50%;
	transition: all 0.5s ease;
	transform: translateY(-50%);
	background-color: rgba(255, 255, 255, 0.5);
	content: '';
	height: 4px;
	width: 100%;
}

.nav-toggle .nav-toggle-bar {
	margin-top: 0;
}
.nav-toggle .nav-toggle-bar::after {
	margin-top: 15px;
}
.nav-toggle .nav-toggle-bar::before {
	margin-top: -15px;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
	background-color: rgba(255, 255, 255, 0.5);
	margin-top: 0;
}
.nav-toggle.expanded .instructions {
	visibility: hidden;
}

.nav-toggle.expanded .nav-toggle-bar::after {
	transform: rotate(45deg);
}
.nav-toggle.expanded .nav-toggle-bar::before {
	transform: rotate(-45deg);
}
.nav-toggle.expanded .nav-toggle-bar {
	background: transparent;
}

/* ////////// game ////////// */
.container {
	height: 100vh;
	width: 100vw;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	font-family: courier;
	background: none;
	border: none;
	color: #ffffff75;
	font-size: 3.25em;
	cursor: pointer;
}
button:hover {
	color: white;
}
button:focus {
	outline: transparent;
}

#switches {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	top: 65vh;
}

#turn {
	color: red;
	font-size: 30px;
	margin-top: 50px;
}

.cards {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.circle {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	cursor: pointer;
	margin: 20px;
}
#yellow {
	background: yellow;
	border: 10px solid yellow;
}
#orange {
	background: orange;
	border: 10px solid orange;
}
#red {
	background: red;
	border: 10px solid red;
}
#purple {
	background: purple;
	border: 10px solid purple;
}
#blue {
	background: blue;
	border: 10px solid blue;
}
#green {
	background: green;
	border: 10px solid green;
}

/* ////// media-sizes ///////// */

@media (max-width: 1050px) {
	.cards {
		width: 90vw;
		padding-left: 0;
		position: fixed;
		top: 40vh;
	}
	#turn {
		margin-top: 20px;
	}
	h3 {
		margin-top: 20vh;
	}
	#switches {
		top: 55vh;
	}
	.nav-toggle {
		right: 50px;
	}
}

@media (max-width: 800px) {
	.header {
		height: 12vh;
	}
	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		padding-left: 0;
		position: fixed;
		top: 35vh;
		width: 50vw;
		/* margin-left: 20px; */
	}
	h3 {
		margin-top: 30vh;
		margin-left: 0;
	}
	#switches {
		top: 65vh;
	}
}

@media (max-width: 600px) {
	.header {
		padding-top: 30px;
		margin-top: 5px;
		height: 18vh;
	}
	h3 {
		margin-top: 10px;
		align-self: center;
		width: 30vw;
		font-size: 35px;
		text-align: center;
		margin-left: 0;
	}

	.container {
		width: 100vw;
		margin-left: -15px;
	}

	.cards {
		display: grid;
		grid-template-columns: 1fr 1fr;
		top: 27vh;
	}
	.circle {
		margin: 10px;
	}

	#switches {
		margin-left: 0;
		top: 80vh;
	}
	#turn {
		margin-top: 10px;
	}
	.nav {
		height: 100vh;
		width: 100vw;
		position: absolute;
		margin-top: 0%;
		padding-top: 80px;
		right: -110vw;
	}
	.nav-toggle {
		position: absolute;
		right: 35px;
	}
	.button {
		font-size: 2.25em;
	}
	p {
		font-size: 25px;
		padding-bottom: 25px;
	}
	h1 {
		margin-right: 20px;
	}
	.instructions {
		font-size: 17px;
		padding-bottom: 70px;
	}
}
