* {
	box-sizing: border-box;
}

/* font-family: 'Abril Fatface', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Aubrey', cursive;
font-family: 'Noticia Text', serif;
font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Tinos', serif;
font-family: 'Zilla Slab', serif; */
/* #switches {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	margin-top: 30px;
} */

#switches {
	position: absolute;
	font-family: 'Original Surfer', cursive;
	margin-left: 26px;
	margin-top: 110px;
}
.container {
	font-size: 20px;
	font-family: 'Abril Fatface', cursive;
	/* font-family: 'Aubrey', cursive; */
	/* font-family: 'Noticia Text', serif; */
	/* font-family: 'Noto Serif', serif; */
	/* font-family: 'Oswald', sans-serif; */
	/* font-family: 'Pathway Gothic One', sans-serif; */
	/* font-family: 'Tinos', serif; */
	/* font-family: 'Zilla Slab', serif; */
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.card {
	width: 150px;
	height: 200px;
	border: 1px solid #000;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 20px;
	margin: 20px;
	list-style: none;
	/* flex: 1 1 auto; */
}
.circle {
	width: 100px;
	height: 100px;
	border-radius: 50px;
	cursor: pointer;
	border: none;
	/* background: #000; */
}
#yellow {
	background: yellow;
}
#orange {
	background: orange;
}
#red {
	background: red;
}
#purple {
	background: purple;
}
#blue {
	background: blue;
}
#green {
	background: green;
}
button:focus {
	outline: 0;
}
p {
	color: black;
	/* margin-top: 20px; */
}
